.featured {
    height: 310px;
    background-color: black;
    position: relative;
    background-image: url("./img/issue-1.jpg");
    background-size: cover;
}

.count {
    position: absolute;
    top: 30px;
    right: 26px;
}

.text-area {
    position: absolute;
    bottom: 36px;
    left: 24px;
    animation: showText 1s;
}

.featured .title {
    margin-bottom: 12px;
}

sup {
    font-size: 10px;
}

.swiper {
    white-space: nowrap;
    overflow-x: scroll;
    padding: 24px;
    padding-bottom: 7px;
}

.swiper li {
    width: 136px;
    height: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
}

.swiper li:nth-child(1) {
    background-image: url("./img/issue-2.jpg");
}

.swiper li:nth-child(2) {
    background-image: url("./img/issue-3.jpg");
}

.swiper li:nth-child(3) {
    background-image: url("./img/issue-4.jpg");
}

.list {
    padding: 24px;
}

.item .num {
    width: 26px;
    height: 26px;
    background-color: #ffe6cf;
    border-radius: 50%;
    color: #485762;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-right: 20px;
}

.item .title {
    font-size: 17px;
}

.item .desc {
    font-size: 13px;
    opacity: 0.7;
}

.item {
    display: flex;
    padding: 17px 24px 20px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    align-items: center;
    position: relative;
}